<div class="sidenav">
    <div class="logo-container">
        <button class="logo">A</button>
        @if (!collapsed) {
        <div class="logo-text">Angular</div>
        }
    </div>
    <ul class="sidenav-nav">
        @for (item of navData; track $index) {
        <li class="sidenav-nav-item">
            <a class="sidenav-nav-link" [routerLink]="[item.routeLink]" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <mat-icon [fontIcon]="item.icon" class="sidenav-link-icon"></mat-icon>
                @if (!collapsed) {
                <span class="sidenav-link-text">{{item.label}}</span>
                }
            </a>
        </li>
        }
    </ul>
</div>